<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    $('#cam').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Taux de gain de cause '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '',
            data: [
                ['Echec', 14.2],
                ['Succès', 85.8],
            ]
        }]
    });
});


$(function () {
    $('#histo').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Indemnisation en fonction du salaire (euros)'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Indémnisation'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Indémnisation: <b>{point.y:.1f} mille euros</b>'
        },
        series: [{
            name: 'Population',
            data: [
                ['< 2 500', 10.7],
                ['< 3 500', 20.1],
                ['< 4 500', 34.2],
                ['< 5 000', 40.0],
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});
</script>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>" style='font-family:expletus_sansmedium'>LawMine</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" style='font-family: expletus_sansregular'>
                <li style=''>
                  <%= link_to "Recherche", prosearch_path %>
                </li>
                <li style=''>
                  <%= link_to "Mes recherches", search_path %>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style='font-family: expletus_sansregular'>
                <li style=''>
                  <%= link_to "Connection", login_path %>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class='container' style='font-family:expletus_sansregular;'>
  <h2 style='font-family:expletus_sansmedium; margin-bottom: 25px;'> Résultats de la recherche</h2>
  <div id="cam" style="min-width: 300px; height: 400px; margin-top: 45px;"></div>
<hr style='margin-top: 15px; margin-bottom:15px;'>
  <div id="histo" style="min-width: 300px; height: 400px; margin-top: 45px;"></div>
</div>
