<div class='container'>
  <h2> Résultats de la recherche</h2>
    graphe + % gain + % perte + gain + perte <br>
    <br>
    <a href="#" target='_blank' style='color: blue; text-decoration:underline'>Imprimer</a><br>
    <a href="#" target='_blank' style='color: blue; text-decoration:underline'>Enregistrer dans 'mes recherches'</a><br>
    <a href="#" target='_blank' style='color: blue; text-decoration:underline'>Fichier pdf : titre de du dossier</a>
</div>
