<div class='container-fluid' style='padding: 0;'>
<header class="business-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <h1 class="tagline" style='font-family:expletus_sansmedium; margin-top: 40px;'>LAWMINING</h1><h2 style='color: white; font-family:expletus_sansmedium; margin-top: -15px;margin-left: 15px'>Smarter data, smarter lawyers</h2>
              </div>
          </div>
      </div>
  </header>
</div>

  <!-- Page Content -->
  <div class="container" style='margin-top: 15px;'>
      <div class="row">
          <div class="col-sm-8">
            <h2>Que fait-on?</h2>
            <br>
            <p style='margin-left: 20px;'>LawMining est le partenaire optimal de l’avocat, en conseil comme en contentieux.<br> 
            Nous récoltons et analysons toutes les juridictions disponibles en France afin de vous aider à évaluer le risque judiciaire et les dommages et intérêts habituellement liés à une affaire comparable à la vôtre.</p>
            <p style='margin-left: 20px;'>LAWMINING, pour un meilleur assessment du risque judiciaire et de votre position de négociation, tous les jours, dans chacune de vos affaires.  </p>
          </div>
          <div class="col-sm-4">
            <h2>Avantages </h2>
            <br>
            <ul>
               <li>Gain de temps</li><br>
               <li>Gain d'énergie</li><br>
               <li>Utilisation simple des données</li>
            </ul>
          </div>
      </div>
      <!-- /.row -->

      <hr>

      <div class="row">
          <div class="col-sm-4">
              <img class="img-circle img-responsive img-center" src="/assets/bigdata.jpeg" style='height:300px; width: 300px'>
              <h2>Big Data</h2>
              <p>Nous agrégeons et uniformisons les jugements disponibles dans une base de données unique </p>
          </div>
          <div class="col-sm-4">
              <img class="img-circle img-responsive img-center" src="assets/smartdata.jpeg"style='height:300px; width: 300px'>
              <h2>Smart Data</h2>
              <p>Nous traitons et critérisons cette base de données de façon à en extraire des statistiques et des tendances</p>
          </div>
          <div class="col-sm-4">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
              <h2>Smart Lawyer</h2>
              <p>Vous identifiez l’angle spatio-temporel et les critères juridiques de votre choix, et nous vous restituons un benchmark des tendances de jugements associés, pour vous offrir un cadre de référence intelligent.</p>
          </div>
      </div>
      <hr>
    </div>
      <!-- /.row -->

