<script>
$(document).ready(function(){
    $(".litige").hide();
    $(".pro").hide();
    $(".prudhomme").click(function(){
        $(".litige").show();
    });
    $(".checkpro").click(function(){
        $(".pro").show();
    });
});
</script>


<div class='container'  style='font-family:expletus_sansmedium;'>
  <h1 class='title-filter'>Filtres de recherche</h1>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Contentieux</h3>
        <label class="checkbox-inline checkpro"><input type="checkbox" value="">Professionnel</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Privé</label>
      <div class='row center-block f1 pro'>
        <label class="checkbox-inline ici"><input type="checkbox" value="">Salarier</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Indépendant</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Employeur</label>
      </div>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Partie</h3>
      <div class="form-group">
         <label class="checkbox-inline"><input type="checkbox" value=""> Entreprise-Entreprise</label>
         <label class="checkbox-inline"><input type="checkbox" value="">Entreprise-salarier</label>
         <label class="checkbox-inline prudhomme"><input type="checkbox" value="">Autre</label>
      </div>
    </div>
  </div>

  <div class='row center-block f1 litige'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Litiges</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Salaires impayés</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Demande d'indemnité</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Contestation d'une sanction</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Licenciement abusif</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Discrimination</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Autre</label>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Je voudrais</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Taux de succès</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Taux d'indémnisation</label>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Mots-clés</h3>
        <div class="form-group">
          <textarea class="form-control" ></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <a href='<%= find_path %>' class="btn btn-default center-blok" role="button"> Chercher </a>
    </div>
  </div>
<div>
