<div class='container'>
  <h1 class='title-filter'>Filtres de recherche</h1>
  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Lieux</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Paris</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Nanterre</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Versaille</label>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Type de tribunaux</h3>
      <div class="form-group">
        <select class="form-control" id="sel1">
          <option>Commerce</option>
          <option>Prud'homme</option>
          <option>Instance</option>
          <option>Grande Instance</option>
        </select>
      </div>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Annee</h3>
        <div class="form-group">
          <textarea class="form-control"></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Mots cles</h3>
        <div class="form-group">
          <textarea class="form-control" ></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <a href='<%= find_path %>' class="btn btn-default center-blok" role="button"> Chercher </a>
    </div>
  </div>
<div>
