<div class='container'  style='font-family:expletus_sansmedium;'>
  <h1 class='title-filter'>Filtres de recherche</h1>
  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Lieux</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Paris</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Nanterre</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Versaille</label>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Type de procès</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Civil</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Pénal</label>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Type de tribunal</h3>
      <div class="form-group">
        <select class="form-control" id="sel1">
          <option>Commerce</option>
          <option>Prud'homme</option>
          <option>Instance</option>
          <option>Grande Instance</option>
        </select>
      </div>
      <h4> Chiffre d'affaires (euros) </h4>
          <select class="form-control" id="sel1">
            <option> 0 - 100 000</option>
            <option> 100 000 - 1 000 000</option>
            <option> 1 000 000 - 5 000 000</option>
            <option> + 5 000 000</option>
          </select>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Période</h3>
      <div class='col-lg-3'>
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>Janvier</option>
            <option>Février</option>
            <option>Mars</option>
            <option>Mai</option>
            <option>Juin</option>
            <option>Juillet</option>
            <option>Août</option>
            <option>Septembre</option>
            <option>Octobre</option>
            <option>Novembre</option>
            <option>Décembre</option>
          </select>
        </div>
        </div>
        <div class='col-lg-3'>
          <select class="form-control" id="sel1">
            <option>1995</option>
            <option>2000</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
          </select>
        </div>
        <div class='col-lg-3'>
          <select class="form-control" id="sel1">
            <option>Janvier</option>
            <option>Février</option>
            <option>Mars</option>
            <option>Mai</option>
            <option>Juin</option>
            <option>Juillet</option>
            <option>Août</option>
            <option>Septembre</option>
            <option>Octobre</option>
            <option>Novembre</option>
            <option>Décembre</option>
          </select>
        </div>
        <div class="form-group">
        <div class='col-lg-3'>
          <select class="form-control" id="sel1">
            <option>1995</option>
            <option>2000</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
          </select>
        </div>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Mots-clés</h3>
        <div class="form-group">
          <textarea class="form-control" ></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <a href='<%= find_path %>' class="btn btn-default center-blok" role="button"> Chercher </a>
    </div>
  </div>
<div>
